/* FOOTER */
.footer1{
    background: $colorfooter;
    width: 100%;
    .footer_logo{
        width: 150px;
        }
    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:50px;
        padding: 50px 0px;
    }
    .box .figure {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box .h2 {
        margin-bottom: 5px;
        font-size: 25px;
        text-align: auto;
    }
    .contacto__a-enlace {
        padding: 8px;
    }
    .box p {
        margin-bottom: 10px;
        font-size: 15px;
    }
    .red-social a{
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
    }
    .h3{
        font-size: 15px;
        margin-bottom: 10px;
    
    }
    .h2{
        font-size: 25px;
    }
    .map{
        width: 350px;
        height: 250px;
        size: 100%;
    }
}

.footer2 {
    background-color: $colorfooter2;
    padding: 15px 10px ;
    text-align: center;
    small{
        font-size: 15px;
    }
    
}
/* FIN FOOTER */

/*media querie para mobile*/
@media screen and (max-width:768px){
    .footer1 .grupo-1 {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        padding: 50px 0px;
        text-align: center;
    }

    .map {
        width: 90%;
        height: 250px;
    }

    }