/*Index*/

main{
    .img-fluid{
        max-width: 100%;
        height: auto;
        align-items: center;
    }
    .div_banner{
        display: flex;
        justify-content: center;
        margin: 35px;
    }
    
    .titulo_index{
        text-align: center;
        margin: 10px;
        font-size: 30px;
    }
    .card-title{
        font-size: 22px;
    }
}
/*Fin Index*/