/* Pagina productos*/
main{
    .h2_prod{
        text-align: center;
        margin: 15px;
    }
    .container{
        .card-title{
            text-align: center;
        }
        .card-text{
            text-align: center;
            margin: 10px;
        }
    }
}

/*fin pagina productos*/