/*Pagina Servicios*/
main{
    .titulo_h1{
        text-align: center;
        margin: 10px;
        list-style-type: disc;
    }
    .subtitulo_h3{
        padding: 10px;
        margin: 5px;
        font-size: large;
    }
    .parrafo_servicios{
        margin-right: 40px;
        margin-left: 40px;
        text-align: justify;
    }
    .accordion{
        margin-bottom: 15px;
        margin: 15px
    }
    }
    /*Fin Pagina Servicios*/